[2018-05-05 13:48] ramitsawhney27 opened #1 "Defining Phrases for Help Prompts"
## Description
As a newcomer,
I need to develop a list of phrases/keywords that would prompt Sysbot to link the user requesting help with relevant links,
so that I can ensure help is provided when prompted accurately.

## Acceptance Criteria
### Update [Required]
- [ ] [Develop a set of newline separated sentences, phrases and words in a .txt file. This file should consist of text which when writt

[2018-05-05 13:51] ramitsawhney27 opened #2 "Relevant Help Links"
## Description
As a newcomer,
I need a set of links which will be posted by Sysbot when help is prompted,
so that I can ensure help is appropriately provided to those asking for it.

## Acceptance Criteria
### Update [Required]
- [ ] [List of links in a .txt file, newline separated.]
### Enhancement to Update [Optional]
- [ ] [Segragate the links depending on what exact issue they address.]

## De

[2018-05-07 14:18] sammy1997 opened #3 "Add a gitignore with standard template for Python given by Github"
## Description
As a developer,
I need to add a .gitignore file to the project, with the standard gitignore template for Python.

## Acceptance Criteria
### Update [Required]
- [ ] [The gitignore file with the template content]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 mins

[2018-05-07 14:27] sammy1997 commented on #3
Sure @ramitsawhney27. Thanks.

[2018-05-08 05:10] #3 closed

[2018-05-10 06:06] #2 closed

[2018-05-13 16:59] ramitsawhney27 opened #6 "Setting up Slack & Github Integration credentials"
## Description
As a developer,
I need to set up the file for Slack and Github integration credentials (Key and secret),
so that I can ensure sysbot can access services easily.

## Acceptance Criteria
### Update [Required]
- [ ] [Create a file of a suitable format with the credentials]
- [ ] [When sending a PR, ensure the credentials are not visible]

## Definition of Done
- [ ] All of the required

[2018-05-13 17:18] ramitsawhney27 opened #7 "Initial Message to a new user on Slack"
## Description
As a developer,
I need to add the functionality to Sysbot that when a new user joins slack, Sysbot can, like Slackbot, send the user a message and explain the various ways/formats on how to interact with the bot.

## Acceptance Criteria
### Update [Required]
- [ ] Develop a function that accomplishes sending the user a message.
- [ ] At this point, there's only the need to send "Hel

[2018-05-13 17:33] ramitsawhney27 opened #9 "Checking if Commenting user/Issue creating user is a Maintainer/Mentor."
## Description
As a developer
I need to check if a person commenting on an issue or creating an issue is a maintainer/mentor
so that I can ensure it's approved by someone with the rights to approve it.

## Acceptance Criteria
### Update [Required]
- [ ] Create a file/data structure to store Maintainers/Mentors for repo or a method to access this data from other sources.
- [ ] Implement check that

[2018-05-14 19:11] #1 closed

[2018-05-15 12:19] sammy1997 opened #12 "Create a environment requirements file"
## Description
As a developer,
I need to create a reqirements.txt file,
so that a virtual environment can be created.

## Acceptance Criteria
### Update [Required]
- [ ] Create a requirements.txt file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 mins

[2018-05-15 12:19] sammy1997 commented on #12
@ramitsawhney27 @Akshitaag @prachi1210 Please review this.

[2018-05-15 12:41] Akshitaag commented on #12
You can start working on this. @sammy1997

[2018-05-17 13:07] #12 closed

[2018-05-17 13:36] #6 closed

[2018-05-17 13:42] sammy1997 opened #15 "Create a file for keeping the messages and comments that will be made by the bot"
## Description
As a developer,
I need to create a separate messages file,
so that I can keep the main code clean.

## Mocks
-N.A-

## Acceptance Criteria
### Update [Required]
- [ ] Add a message.py file with all the messages/comments that will be made by the bot

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 mins

[2018-05-17 14:27] sara-02 commented on #15
@sammy1997 Will this only contain `key values`, like a config file. Or will it contain code snippets as well? I suggest to keep a key-value file of messages, eg: `Welcome_message:"hello"`. And then use the key in the code where it is needed.

[2018-05-17 14:52] ramitsawhney27 commented on #15
Approved. please send a PR.

[2018-05-17 14:58] ramitsawhney27 opened #17 "Inclusion of stemming to check phrases."
## Description
As a user,
I need stem each of the user sentences when interacting with sysbot and then match with the created text files,
so that I can handle a vast variety of sentence variations with little computational effort.

## Acceptance Criteria
### Update [Required]
- [ ] Add a simple function using NLTK PorterStemmer that takes as an input a string, stems the string and returns the stem

[2018-05-17 17:01] sara-02 opened #18 "[Backlog]Add template files for credentials."
## Description
As a contributor
I need access to the `key-value` stored in the `auth_credentials.py` and the `request_urls.py`,
so that I can test the system locally.

Since both these files contain credentials, we cannot commit them. At the same time we need to provide a `auth_credentials.py.template` and a `request_urls.py.template` file with the keys specified. So that any newcomer can create t

[2018-05-17 18:11] sara-02 commented on #17
@ramitsawhney27 one issue that we are bound to face is that it will not perform well for developer-centric terms/sentences. Since these stemmers are trained on English data. But it is good to start with +1 on that.

[2018-05-17 20:10] ramitsawhney27 commented on #18
Seems valid as per our discussion on Slack, @sammy1997 can start working on this.

[2018-05-18 10:36] ramitsawhney27 commented on #17
@sara-02 yes. There’s a very vast variety of problems that need to be solved. Given that we want to focus more on creating the basic functionality of Sysbot as a priority, all such improvements come under enhancements. This can range from adding more nltk computations like Named entity recognition and POS tagging upto a full-fledged sentence classifier. We can discuss more of this in the future in

[2018-05-18 13:56] sammy1997 commented on #17
@ramitsawhney27 After reading about I have got this - the [portal2 in stemming](https://pypi.org/project/stemming/1.0/#description) library is currently as good as stemming algos get. So I will be using that for now. Views on this ?

[2018-05-18 19:34] #17 closed

[2018-05-19 10:41] sammy1997 opened #21 "Coding style changes to be implented"
## Description
As a developer,
I need make some code style changes,
so that the code follows Python standards.

## Mocks
-N.A-

## Acceptance Criteria
### Update
- [ ] Make the changes suggested in PR #16 by mentor

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
30 mins

[2018-05-19 10:53] sammy1997 commented on #21
@sara-02 @ramitsawhney27 I have opened this to make changes to the code style

[2018-05-19 16:10] sammy1997 commented on #18
@sara-02  @ramitsawhney27 Is this valid? Because one we won't get the key from the environment, and two the accessibility of the credentials is still a point of concern( as to how it is to be shared ).

[2018-05-19 17:14] sara-02 commented on #18
@sammy1997 Yes the accessibility part is a concern. Irrespective of that, it is a good practice to store the credentials in a `.env` file and load them in your config file. That way you will never be committing them. We can put this issue on the backlog for the time being, until we finalize an approach.

[2018-05-19 18:42] ramitsawhney27 opened #24 "Add approval tag by mentors from Github."
## Description
As a mentor,
I need Sysbot to add the approved tag to issues if a mentor has commented "Approved" on the issue.
so that I can automate issue approval.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to approve issue via tag.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-19 18:43] ramitsawhney27 opened #25 "Add approval tag by mentors from Slack."
## Description
As a mentor,
I need Sysbot to add the approved tag to issues if a mentor has "Approved" the issue via Slack.
so that I can automate issue approval.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to approve issue via tag.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-19 18:44] ramitsawhney27 opened #26 "Assigning issues from Slack"
## Description
As a mentor,
I need Sysbot to add the functionality to assign issues if a mentor assigns an issue to an approved user
so that I can automate issue assignment.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to assign issue via Slack.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-19 18:45] ramitsawhney27 opened #27 "Adding tags to Pull Requests"
## Description
As a mentor,
I need Sysbot to add the appropriate tags to PRs via Slack.
so that I can automate PR-tag handling.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to add tags to PRs via Slack.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-19 18:47] ramitsawhney27 opened #28 "Invitation to newcomers team"
## Description
As a user
I need Sysbot to invite new joiners to the newcomers' team via a slash command.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to invite necomers to newcomers team via a slash command: /sysbot invite

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-20 06:10] sara-02 commented on #28
@ramitsawhney27 I have a doubt here, how is this issue different from #7? Seems like a duplicate to me
:confused:

[2018-05-20 11:13] ramitsawhney27 commented on #28
@sara-02 This basically adds the functionality to invite a user into a particular “Slack team” called newcomers whereas issue #7 adds the functionality so that Sysbot can explain formats of how users can interact with Sysbot in the future. Both are triggered by the same event, however, they’re performing different tasks. We broke issues down so we can have more indepedent cohesive modules.

[2018-05-20 13:50] #15 closed

[2018-05-20 16:15] #7 closed

[2018-05-21 17:38] #9 closed

[2018-05-23 14:31] #28 closed

[2018-05-24 19:09] #24 closed

[2018-05-26 17:33] #27 closed

[2018-05-27 02:41] #25 closed

[2018-05-27 02:43] ramitsawhney27 opened #38 "Assigning issues from Github"
## Description
As a mentor,
I need Sysbot to add the functionality to assign issues if a mentor assigns an issue to an approved user
so that I can automate issue assignment.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to assign issue via Github.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-27 10:54] #38 closed

[2018-05-28 15:31] ramitsawhney27 opened #40 "Opening Issues from Slack"
## Description
As a user
I need to create an issue from slack
so that I can automate issue creation.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to create an issue from Slack.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-05-28 15:33] ramitsawhney27 opened #41 "Claiming issues from Slack"
## Description
As a user
I need to claim issues from slack
so that I can automate issue claiming.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to claim an issue from Slack.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-05-28 15:34] ramitsawhney27 opened #42 "Claiming issues from Github"
## Description
As a user
I need to claim issues from github
so that I can automate issue claiming.

## Acceptance Criteria
### Update [Required]
- [ ] Add functionality to claim an issue from Github.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-01 07:59] #41 closed

[2018-06-01 08:11] ramitsawhney27 opened #45 "Cleaning up labels"
## Description
As a mentor,
I need all old PRs and issues to have their tags changed/updated properly
so that I can have easier access and correct labels.

## Acceptance Criteria
### Update [Required]
- [ ] [Update tags for all issues and PRs]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-06-01 11:37] sammy1997 commented on #45
@ramitsawhney27 If I want to do this via the bot, I will need write access to all repositories. This has to be discussed with the admins and community. Also, I would like to complete the documentation and remaining issues for Sysbot first, and then work on code clean up if that's fine?

[2018-06-01 12:45] ramitsawhney27 commented on #45
As of now, I was thinking of getting this done manually, not via the bot.
Sure, lets do it towards the end.

[2018-06-03 06:04] ramitsawhney27 opened #46 "Checking for multiple issue claiming"
## Description
As a user,
I need to ensure that the same issue isn't claimed by multiple people,
so that I can ensure coherency.

## Acceptance Criteria
### Update [Required]
- [ ] Implement a check for multiple issue claiming.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-06-03 06:05] ramitsawhney27 opened #47 "Checking comments from Travis"
## Description
As a user,
I need to check comments from Travis and comment if tests are required,
so that I can increase testability.

## Acceptance Criteria
### Update [Required]
- [ ] Implement check comments from Travis and comment if tests are required.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-03 06:07] ramitsawhney27 opened #48 "Design for Template recognition"
## Description
As a user,
I need to create a design for issue template recognition,
so that I can ensure proper formatting for issue creation is followed.

## Acceptance Criteria
### Update [Required]
- [ ] Create an appropriate template for issue creation formatting checking.
- [ ] Take in more suggestions from the community to finalize.

## Definition of Done
- [ ] All of the required items are

[2018-06-03 06:09] ramitsawhney27 opened #49 "Create Documentation( README )"
## Description
As a developer and/or user,
I need properly formatted documentation,
so that I can effectively use Sysbot.

## Acceptance Criteria
### Update [Required]
- [ ] Create documentation.
- [ ] Documentation should be a readme explaining all functionalities and how to set up the project.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## E

[2018-06-03 16:33] sammy1997 commented on #48
Done @ramitsawhney27 . Please review the doc on Slack.

[2018-06-03 16:35] sammy1997 commented on #42
@ramitsawhney27 This has been done. Please merge the PR.

[2018-06-03 19:36] #42 closed

[2018-06-04 07:22] #46 closed

[2018-06-04 11:41] #47 closed

[2018-06-04 11:49] sara-02 commented on #49
## Task List
- [ ] Swagger API Doc
- [ ] Updated README with Project Description(what, why, how of the project)
- [ ] Update README with Project Installation Steps + Python version specified
- [ ] Link to Systers Sysbot channel for further details

## Stretch goal
- [ ] Steps on how can user obtain their own token and use them

[2018-06-04 15:59] sammy1997 opened #52 "Add a slash command for helping users get a list of available commands with the bot"
## Description
As a developer,
I need to add a /sysbot_help command,
so that users can get a list of all the commands that are used available with Sysbot.

## Acceptance Criteria
### Update [Required]
- [ ] Add a /sysbot_help command that responds with list of available commands

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-06-04 17:39] ramitsawhney27 commented on #52
Seems fine, you can send a PR for this whenever!

[2018-06-05 07:21] ramitsawhney27 commented on #48
@sammy1997 seems fine. Can you send it as a PR so we can include it in the repo, later we can modify it whenever we're checking for the format.

[2018-06-05 12:43] sara-02 commented on #49
@sammy1997 Do you want me to create a separate issue for the API Doc?

[2018-06-05 15:13] sammy1997 commented on #49
Yes sure

[2018-06-05 18:39] sammy1997 commented on #48
Ok. @ramitsawhney27 Do you want it as a doc in the repo?

[2018-06-06 06:19] sara-02 opened #54 "Create API Documentaion"
### In line with issue #49
## Description
As a contributor/consumer of the Sysbot,
I need access to the API Documentation,
so that I can know the existing functionalities of the bot and how to use them.

## Acceptance Criteria
### Update [Required]
- [ ] Add a Swagger File
- [ ] Add a detailed API fucntionality and usage doc( A function description Markdown file)

## Definition of Done
- [ ] All o

[2018-06-06 09:57] sammy1997 commented on #49
@ramitsawhney27 As @sara-02 has created a separate issue for API documentation, I am updating this one for the readme.

[2018-06-06 12:49] ramitsawhney27 opened #57 "More flexible issue approval"
## Description
As a user
I need to ensure more flexible issue approval
so that I can automate robust approval.

## Acceptance Criteria
### Update [Required]
- [ ] Add stemming and lemmatization.
### Enhancement to Update [Optional]
- [ ] Potentially other improvements (synonyms, etc)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3

[2018-06-08 08:00] sammy1997 commented on #54
@sara-02 I think this can be closed

[2018-06-08 08:07] sammy1997 opened #59 "Ephimeral messages instead of public ones"
## Description
As a developer,
I need send messages from the bot to channels,
such that it's only visible to the command user and not publicly.

## Mocks
![ephimeral](https://user-images.githubusercontent.com/24635701/41146298-831be704-6b20-11e8-907d-034afb3b42b6.png)

## Acceptance Criteria
### Update [Required]
- [ ] Remove public commenting, and add ephimeral messages
### Enhancement to Update

[2018-06-08 08:09] prachi1210 commented on #59
Approved

[2018-06-08 10:29] #40 closed

[2018-06-08 12:09] #48 closed

[2018-06-08 12:59] #59 closed

[2018-06-08 15:46] sammy1997 opened #61 "Add un-assign and un-claim commands on github"
## Description
As a developer,
I need add an unclaim and unassign commands to sysbots ability on github.

## Acceptance Criteria
### Update [Required]
- [ ] Add unassign and unclaim commands on github

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.5 hours

[2018-06-08 15:50] sammy1997 opened #62 "Amend approve issue feature to disallow author of issue from approving an issue"
## Description
As a developer,
I need to amend the feature to approve issues,
so that author of the issue can't approve it.

## Acceptance Criteria
### Update [Required]
- [ ] Amend approve issue feature to disallow author of issue from approving an issue.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-06-08 19:34] #49 closed

[2018-06-08 19:41] sammy1997 commented on #54
@sara-02 Closing this issue as per our discussions with @prachi1210 .

[2018-06-08 19:41] #54 closed

[2018-06-09 14:54] ramitsawhney27 commented on #61
Approved.

[2018-06-09 14:54] ramitsawhney27 commented on #62
Approved

[2018-06-09 14:54] ramitsawhney27 commented on #57
Need to add checks for negation here as well.

[2018-06-11 17:04] sammy1997 opened #66 "Take github profile info from slack for claim sash command"
## Description
As a developer,
I need take the GitHub profile info from Slack,
so that the user does not need to mention it.

## Acceptance Criteria
### Update [Required]
- [ ] Slash command should take GitHub profile info from the Slack profile for the claim command

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
0.5 hours

[2018-06-11 17:05] sammy1997 commented on #66
@sara-02 @ramitsawhney27 @Akshitaag Please review this. I will send a PR for the patch.

[2018-06-11 17:57] sara-02 commented on #66
@sammy1997 Approved. One question, are we making this an optional or a compulsory check?
I think we should keep both.
Eg `sysbot/claim repo_name issue_number my_github_id` and `sysbot/claim repo_name issue_number` both should be valid  combinations.  @ramitsawhney27 @Akshitaag  what are your thoughts?

[2018-06-12 21:36] #62 closed

[2018-06-13 00:32] ramitsawhney27 commented on #66
Yeah, I agree with Sara here. Lets keep both options.

[2018-06-13 10:22] sammy1997 opened #68 "Add check against claiming or assigning un-approved issues"
## Description
As a developer,
I need to add a check,
so that un-approved issues can't be claimed or assigned.

## Mocks
![unapproved_issue_assigned](https://user-images.githubusercontent.com/24635701/41345541-9f43a156-6f21-11e8-8675-6e5a2738bf98.png)

## Acceptance Criteria
### Update [Required]
- [ ] Add a check so that un-approved issues can't be claimed or assigned

## Definition of Done
- [ ]

[2018-06-13 10:45] sammy1997 commented on #68
@sara-02 @ramitsawhney27 @Akshitaag Please approve this

[2018-06-13 11:30] sara-02 commented on #68
@sammy1997 Thanks for adding this. I approve this, please send a PR.

[2018-06-13 15:28] #66 closed

[2018-06-13 15:29] #52 closed

[2018-06-13 15:31] #61 closed

[2018-06-13 15:32] ramitsawhney27 commented on #68
Approved.

[2018-06-20 15:53] #68 closed

[2018-06-21 08:12] sammy1997 opened #71 "List all mentors/maintainers for an issue"
## Description
As a developer,
I need to add a slash command,
so that Sysbot can list all the mentor/maintainers/contributors for a project based on the argument passed or on the channel on which it was called in.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Add slash command to list all mentor/maintainers/contributors

## Definition of Done
- [ ] All of the required items

[2018-06-21 08:13] sammy1997 commented on #71
@sara-02 @ramitsawhney27 @Akshitaag Please review this one.

[2018-06-21 10:15] sara-02 commented on #71
@sammy1997 do we really want to list all the contributors? That will be a long list.
One more question are we going to list only the name of the mentors or their slack ids as well?

[2018-06-21 10:34] sammy1997 opened #72 "Close PR if it is sent to unapproved issues"
## Description
As a developer,
I need to check the PR body,
so that the bot can close the PR if it is sent to un-approved issues, and close it if it does.

## Acceptance Criteria
### Update [Required]
- [ ] Check if PR if it is sent to un-approved issues, and close it if it does

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-06-21 10:40] sara-02 commented on #72
@sammy1997 A subset of this would be to close the PR if no `Fixes #<issue_nu>` is found in the PR template body. Will you be creating a separate issue for it?

[2018-06-21 10:56] sammy1997 commented on #72
Yes @sara-02. That will be checked under the issue of template checking.

[2018-06-22 05:47] #72 closed

[2018-06-23 17:51] sammy1997 opened #75 "Refactoring the code"
## Description
As a developer,
I need to refactor the code,
so that the files can be arranged better.

## Acceptance Criteria
### Update [Required]
- [ ] Refactor the code and ensure everything works well!

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 mins

[2018-06-23 17:59] sammy1997 commented on #75
@sara-02 @ramitsawhney27 @Akshitaag Please review this.

[2018-06-24 11:25] sammy1997 opened #76 "Check if issues match provided template"
## Description
As a developer,
I need to add a check on new issues,
so that the bot will label template mismatched issues.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] The bot should label issues that don't follow the templates with 'Template Mismatch' label.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 h

[2018-06-25 04:06] sara-02 commented on #76
@sammy1997 thanks, approving this issue. You can change the label and start working on it.

[2018-06-25 04:11] sara-02 commented on #75
:+1:  You may change the label and start working on it :)

[2018-06-25 08:42] ramitsawhney27 commented on #76
Approved, go ahead.

[2018-06-25 08:42] ramitsawhney27 commented on #75
Approved, go ahead.

[2018-06-25 08:42] #71 closed

[2018-06-25 08:43] ramitsawhney27 commented on #71
Closing this for now based on our discussion. Once Slack teams are added we will use that and create a new issue.

[2018-06-25 08:46] ramitsawhney27 opened #77 "Hosting features on AWS"
## Description
As a user,
I need to be able to host Sysbot and it's features on AWS/similar
so that I can make it globally accessible.

## Acceptance Criteria
### Update [Required]
- Host on AWS/similar.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
Currently depending on a lot of factors including permissions, credits, etc.

[2018-06-25 08:48] ramitsawhney27 opened #78 "[Backlog] Markdown related issue"
## Description
As a developer,
I need to resolve the markdown related issue,
so that I can have a bug free implementation.

## Acceptance Criteria
### Update [Required]
- [ ] Fix markdown related issue.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
Postponed for later.

[2018-06-25 08:49] ramitsawhney27 opened #79 "Listing unreviewed PRs for maintainers"
## Description
As a maintainer
I need a list of unreviewed PRs weekly,
so that I can review them timely.

## Acceptance Criteria
### Update [Required]
- [ ] List of unreviewed PRs to project maintainers on a weekly basis.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-06-25 13:32] sammy1997 opened #82 "Write unit tests for Sysbot"
## Description
As a developer,
I need to write unit tests,
so that I can reach 40% code coverage.

## Mocks
-N.A-

## Acceptance Criteria
### Update [Required]
- [ ] Cover 40% code with unit testing

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
16 hours

[2018-06-26 07:31] #76 closed

[2018-06-28 10:59] #78 closed

[2018-06-28 10:59] #79 closed

[2018-06-28 11:41] sammy1997 opened #85 "Patch for return values of Slack and Github functions for testing"
## Description
As a developer,
I need send a patch,
so that each Slack/GitHub function can return a message/status so that they can be unit tested.

## Mocks
-N.A-

## Acceptance Criteria
### Update [Required]
- [ ] All the functions should atleast return the status code for the process.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2018-06-28 11:43] sammy1997 commented on #85
@ramitsawhney27 @Akshitaag @sara-02 Please approve this. I will send a PR for the same. This is as discussed in the weekly meet. @sara-02 , you can read the meeting minutes for more details

[2018-06-28 14:41] ramitsawhney27 commented on #85
Go ahead.

[2018-06-28 16:47] #75 closed

[2018-06-28 17:32] #85 closed

[2018-07-01 16:47] sammy1997 commented on #18
Keeping #88 in mind this one can be closed. Thanks @sara-02 .

[2018-07-01 16:48] #18 closed

[2018-07-03 15:13] #82 closed

[2018-07-05 18:24] ramitsawhney27 opened #92 "Design document for question answering"
## Description
As a developer,
I need a design document for question answering
so that I can have a robust system in place for question answering.

## Acceptance Criteria
### Update [Required]
- [ ] List of basic functionalities.
### Enhancement to Update [Optional]
- [ ] Dialogflow/similar related methods for enhancements.

## Definition of Done
- [ ] All of the required items are completed.
- [

[2018-07-05 18:26] ramitsawhney27 opened #93 "Command for mentioning slack teams"
## Description
As a user
I need a command to list slack teams
so that I can contact the required people.

## Acceptance Criteria
### Update [Required]
- [ ] Add the code for a command to list the required slack team.
### Enhancement to Update [Optional]
- [ ] Use Dialogflow/similar to listen to messages on newcomer channel(s) and then automatically call the command. (Most likely 3rd Phase)

## Def

[2018-07-05 18:27] ramitsawhney27 opened #94 "Excluding code from coverage"
## Description
As a tester
I need to exclude certain functions from the code coverage tests
so that I can get accurate reports.

## Acceptance Criteria
### Update [Required]
- [ ] Use pragma exclude/similar to achieve exclusion from code coverage.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-07-06 11:44] #93 closed

[2018-07-06 12:05] sammy1997 commented on #77
@sara-02 @ramitsawhney27 @prachi1210 @Akshitaag I have edited the issue. Please have a look. This is as per discussions in our weekly meet (as @sara-02 had suggested).

[2018-07-10 22:00] #94 closed

[2018-07-15 11:49] GeVic opened #98 "Messaging needs to be ephemeral"
## Description
As a developer,
I need to change the messaging to ephemeral,
so that I can reduce the noise on channel when the bot replies with team name.

## Acceptance Criteria
### Update [Required]
- [ ] Changing the calling function to ```send_message_ephimeral```

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-07-15 17:13] sammy1997 commented on #98
@GeVic Please tag mentors whenever you open an issue. :) @ramitsawhney27 @Akshitaag @sara-02 Can you approve this one? @GeVic wants to work on it. It's a minor change.

[2018-07-15 17:55] sara-02 commented on #98
@GeVic I am approving it. Please go ahead and make the changes :). If you are new to the Systers opensource workflow please read about it here http://systers.io/open-source-workflow

[2018-07-15 17:55] sara-02 commented on #98
@sammy1997 Please change the issue label.

[2018-07-16 06:09] sammy1997 opened #101 "Feature to answer with Project suggestions"
## Description
As a developer,
I need to add a feature,
so that the bot can respond to messages from newcomers on #intro channel with project suggestions.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] The bot will check for languages mentioned in the introductory message and reply with project suggestions.

## Definition of Done
- [ ] All of the required items are completed.

[2018-07-16 06:11] sammy1997 commented on #101
@ramitsawhney27 @sara-02 Issue as per deliverables.

[2018-07-16 06:14] sammy1997 opened #102 "Feature to answer set of FAQs"
## Description
As a developer,
I need to add a feature,
so that the bot can reply to some FAQs on newcomers, intro and questions channels.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Add a feature so that the bot can reply to some FAQs on newcomers, intro and questions channels.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mento

[2018-07-16 06:18] sara-02 commented on #101
@sammy1997 Go ahead. I hope whatever code we put, we can extend it to a few other channels like `questions` and `newcomers` as well. People sometimes ask these project suggestion questions there as well.

[2018-07-18 12:21] #92 closed

[2018-07-18 12:57] sammy1997 commented on #45
Closing this issue. I have updated the labels.

[2018-07-18 12:57] #45 closed

[2018-07-19 13:37] #101 closed

[2018-07-19 17:00] sammy1997 opened #105 "Documentation update"
## Description

As a developer,
I need to update the readme,
so that I can add the information of the recently added features and also change the setup and testing information.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Update documentation for all recent updates

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimati

[2018-07-19 17:07] sammy1997 opened #106 "Unit testing to cover 90%"
## Description
As a developer,
I need to add unit tests,
so that I can cover 90% of the code.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Added the test to reach 90% code coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-07-21 06:37] sammy1997 opened #107 "Enhance template checking feature"
## Description
As a developer,
I need to enhance the template checking feature,
so that the bot considers all 3 templates for issues instead of 1 while checking.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] The bot should consider all 3 formats of issue templates

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-07-22 16:40] sammy1997 opened #109 "Feature to check PR templates"
## Description
As a developer,
I need to add a feature,
so that the bot can enforce a check on PR templates.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] The bot should be able to check if the PR template is followed else close the PR

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-07-22 16:49] sammy1997 commented on #109
@sys-bot approve

[2018-07-23 06:02] #109 closed

[2018-07-23 06:07] sammy1997 opened #111 "Adding sentences to training data document for LUIS"
## Description
As a contributor,
I need to add sentences to the given topics in the doc( doc link under Mocks), which are similar in meaning to the ones already there on the doc
so that the bot can be trained on LUIS.

## Mocks
https://docs.google.com/document/d/1mgTq9etOVN95Dic6AUl-XrQZkoG0tKXQbt7tfIgDwAA/edit?usp=sharing

## Acceptance Criteria
### Update [Required]
- [ ] Add more sentences to t

[2018-07-23 06:07] sammy1997 commented on #111
@sys-bot approve

[2018-07-23 06:19] sammy1997 commented on #111
@sara-02 @ramitsawhney27 Can you please approve this? This is as per we discussed on the channel

[2018-07-23 17:45] GeVic commented on #106
@sammy1997 Can I work on this?

[2018-07-23 17:49] sammy1997 commented on #106
Sorry @GeVic This is a GSoC requirement. You can though work after I complete 90%. You can take it higher.

[2018-07-23 19:48] GeVic commented on #111
@sammy1997 Does all category needed to be added? And how much (approx)  should be added?

[2018-07-24 06:15] sammy1997 opened #112 "Minor Patches for AWS and answering feature"
## Description
As a developer,
I need send a patch,
so that I can remove some errors related to AWS auto-deployment and answer feature.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Change settings for Auto-Deployment( as discussed with Murad) so that AWS deployment works when the code is merged
- [ ] Fix the answering feature

## Definition of Done
- [ ] All of the required

[2018-07-24 07:11] sara-02 commented on #112
@sammy1997 sure, go ahead, approving it.

[2018-07-24 07:17] sammy1997 commented on #112
@sara-02 You can use the bot command as well. It's functional for this repo :)

[2018-07-24 07:40] sara-02 commented on #112
Ah, ok, I will remember it for the next time :grin:

[2018-07-24 15:40] #112 closed

[2018-07-24 17:48] sammy1997 commented on #111
What categories are you talking about @GeVic ? I don't get it. If you want to add a new category, then you should typically add 20-25 sentences to it. Also, pick the sentences as far as possible from Slack channels

[2018-07-24 18:13] GeVic commented on #111
@sammy1997 I meant to ask, we have to add more sentences to the existing topics?

[2018-07-24 19:34] sammy1997 commented on #111
Yes. That's the basic aim of the issue. We aim to keep this one open for data collection. If not anything else, this would help later while using NLP to train the bot.

[2018-07-24 19:36] GeVic commented on #111
@sammy1997  Yeah! That's a good idea.

[2018-07-25 12:55] isabelcosta opened #114 "Sysbot approve command is sensitive to Enter character"
## Description
As a member of mentorship-backend repo,
I need use Sysbot /approve command,
so that I can approve issues.

When I type "@sys-bot approve \ENTER" in a comment from an issue I can aprove, the issue is not approved. It works only if matches exactly "@sys-bot approve"

## Mocks
![image](https://user-images.githubusercontent.com/11148726/43201946-e45a8e42-9011-11e8-8003-ced267c97659.png)

[2018-07-25 13:48] sara-02 commented on #114
@sys-bot approve

[2018-07-25 13:49] sara-02 commented on #114
@sys-bot approve

[2018-07-25 13:50] sara-02 commented on #114
@sammy1997 I was able to approve an issue with the `Template Mismatch` label :/

[2018-07-25 13:57] isabelcosta commented on #114
Example regarding the markdown style -> https://github.com/systers/mentorship-backend/issues/114#issuecomment-407752423

![image](https://user-images.githubusercontent.com/11148726/43205292-f0a9b296-901a-11e8-9fbc-13d225934ca8.png)

[2018-07-25 14:35] sara-02 opened #115 "Add Pythonic docstrings: Improve docstring coverage"
## Description
As a contributor/new-comer,
I would require doc-strings support for the implemented functions and classes.
so that I can understand the functions easily.

## Mocks
The best way is to follow the Python's PEP8 Docstring convention.
More details here: https://www.python.org/dev/peps/pep-0257/

## Acceptance Criteria
### Update [Required]
- [ ] Add doc-strings to the functions and class

[2018-07-25 14:37] sara-02 commented on #115
@sammy what did I miss in the template :/

[2018-07-25 14:51] sara-02 opened #116 "Broken doc link in README.md"
## Description
As a contributor,
I need to update the broken link in the README.md,
so that I can view the correct deployment/or the correct service where the bot is hosted.

## Mocks
The line `This project is currently hosted here and will be shifted to paid servers soon.`, under the [main](https://github.com/systers/sysbot#systers-slackbot---sysbot-project) tag needs to be fixed.
Erroneous link

[2018-07-25 15:39] sammy1997 commented on #114
@sara-02 I have not kept that check on purpose, because of false cases where Template Mismatch might be shown( like this one). I don't know why this is showing template mismatch. This one is ok.

[2018-07-25 15:44] ramitsawhney27 commented on #116
@sys-bot approve

[2018-07-25 15:45] ramitsawhney27 commented on #115
@sys-bot approve

[2018-07-25 16:30] sammy1997 commented on #115
@sara-02 Same as the doc issue, the check expects Update header to be below Acceptance criteria, and no text.

[2018-07-25 16:53] sammy1997 commented on #115
Why is this labelled invalid? @sara-02

[2018-07-25 17:16] sammy1997 commented on #114
@isabelcosta @sara-02 @ramitsawhney27 If we want to keep a check for the markdown thing then we actually have to check that @sys-bot approve is present in a sentence( because markdown can have many combinations). In that case even this statement would trigger the bot. I thin we should stick to the issue of the command not working with an enter at the end? Views?

[2018-07-25 17:33] isabelcosta commented on #114
Ah I understand that, I'm not sure of what would be the best solution for this :/

[2018-07-25 17:43] sara-02 commented on #115
Oh, it was a mistake.

[2018-07-25 19:37] sammy1997 commented on #114
@isabelcosta Can you edit this and make it so that we need to handle the case of having a \enter at the end?

[2018-07-25 22:34] isabelcosta commented on #114
@sammy1997 I wasn't sure of what you wanted me to update so I just removed the part mentioning the markdown, and left the update to check for \n in the command. Is that right? You can edit the issue as well if I'm missing some information :/ Am I?

[2018-07-26 07:32] #105 closed

[2018-07-26 07:49] sammy1997 opened #118 "Unit testing to cover 60%"
## Description
As a developer,
I need to add unit tests,
so that I can cover 60% of the code.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Added the test to reach 60% code coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-26 08:02] sara-02 commented on #118
@sys-bot approve

[2018-07-26 11:00] isabelcosta opened #119 "systers/mentorship-backend is not showing on the python projects response on Slack"
## Description
As a member of Systers Open Source,
I need be able to know what are the projects and the corresponding tech stack,
so that I can learn about the existing projects I can contribute to.

The [systers/mentorship-backend](https://github.com/systers/mentorship-backend) is not showing when a contributor asks for projects that use Python.

## Mocks

![image](https://user-images.githubuserc

[2018-07-26 11:01] sammy1997 commented on #119
@sys-bot approve

[2018-07-26 11:01] sammy1997 commented on #119
@sys-bot claim

[2018-07-26 11:15] isabelcosta opened #120 "Commands on README.md are not highlighted as code"
## Description
As a newcomer,
I need see the commands by Sysbot highlighted on the README.md file,
so that I can read better and get a clear idea of the commands syntax.

[README.md](https://github.com/systers/sysbot/blob/develop/docs/README.md) file has the syntax of the Sysbot commands like normal text.

**Current:** Similarly, maintainers and collaborators can assign an issue to a member by the

[2018-07-26 11:16] isabelcosta commented on #120
I thought this could be assigned to a newcomer, unless its something that is soon going to be changed for GSoC. Is this issue valid? @systers/maintainers-sysbot @sammy1997

[2018-07-26 11:38] sammy1997 commented on #119
As it turns out, the issue was solved in code but wasn't updated on the server!

![python_repos](https://user-images.githubusercontent.com/24635701/43260223-6d2ed2ca-90f6-11e8-841d-e510b7d70349.png)

Now it's fixed so closing this issue. Thanks @isabelcosta

[2018-07-26 11:38] #119 closed

[2018-07-26 23:40] isabelcosta opened #123 "Issue was not assigned Not Approved label once created bug"
## Description
As a maintaines,
I need to @sys-bot to assign `Not Approved` label to newly created issues,
so that I can avoid new members to start working on issues before a maintainer approving the issue.

@sys-bot did not put `Not Approved` label into new issue created on [systers/mentorship-backend](https://github.com/systers/mentorship-backend) repository
Issues where this happened: https://g

[2018-07-27 11:08] sammy1997 commented on #123
@isabelcosta I guess that was some one-time anomaly! I checked the logs and the server didn't receive the event at all! As you can see, even this issue got labelled quite fine! And so did the other issues in Sysbot and mentorship-backend! I am keeping this issue open, if you see the same happen for 2-3 times do comment it here!

[2018-07-27 16:19] yatri1609 commented on #120
@sammy1997 Can I work on this issue?

[2018-07-27 16:22] sammy1997 commented on #120
Sure @yatri1609

[2018-07-27 16:22] sammy1997 commented on #120
@sys-bot assign yatri1609

[2018-07-28 06:09] yatri1609 commented on #120
Thanks I'll work on it. @sammy1997

[2018-07-28 12:02] #118 closed

[2018-07-28 12:03] #120 closed

[2018-07-29 13:37] #106 closed

[2018-07-31 11:33] sammy1997 commented on #123
@isabelcosta If you haven't found the same bug again, I am closing this. What say?

[2018-07-31 11:35] sammy1997 opened #126 "Collect data for each event for event mocking"
## Description
As a developer,
I need to add data,
so that I can perform the Slack and Github event Simulation.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] PR should have either a json or .py file with data for each event to be simulated

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-07-31 12:10] sammy1997 opened #127 "Add command to change PR labels from not-reviewed to reviewed"
## Description
As a developer,
I need to add a feature to Sysbot,
so that the bot can change PR review labels when a review is sent.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Add feature to bot

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-07-31 12:12] sammy1997 opened #128 "Update help command message with new features"
## Description
As a developer,
I need to update the help command message,
so that the users get recent information.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Update help command

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
.5 hours

[2018-07-31 12:12] sara-02 commented on #126
@sys-bot approve

[2018-07-31 12:12] sara-02 commented on #128
@sys-bot

[2018-07-31 12:12] isabelcosta commented on #123
Ok! I haven't created more issues on backend, since I'm focused on Android now. sur you can close it @sammy1997

[2018-07-31 12:13] sara-02 commented on #123
Thanks @isabelcosta

[2018-07-31 12:13] #123 closed

[2018-07-31 12:13] sara-02 commented on #123
Feel free to reopen this, if you come across it again.

[2018-07-31 12:15] sara-02 commented on #127
@sys-bot  approve

[2018-07-31 12:15] sammy1997 opened #129 "[Enhancement] Label list feature"
## Description
As a developer,
I need to add a feature,
so that a user can command the bot to label an issue with a list of comma-seperated labels.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Create a sys-bot label command

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-07-31 12:17] sammy1997 commented on #115
Sure @GeVic ! Please get invited into the newcomers team from Slack and claim this issue.

[2018-07-31 12:39] sara-02 commented on #127
@sys-bot approve

[2018-07-31 12:41] sara-02 commented on #129
@sys-bot approve

[2018-07-31 12:45] sammy1997 commented on #127
@sys-bot approve

[2018-07-31 12:47] sara-02 commented on #128
@sys-bot approve

[2018-07-31 12:47] sara-02 commented on #127
@sys-bot approve

[2018-07-31 16:22] sammy1997 opened #132 "Mocking events for Slack and Github"
## Description
As a developer,
I need to add a script,
so that I developers can locally manage event delivery.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Add script to mock event delivery for local deveopment

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-31 18:46] sammy1997 opened #133 "Put a check on overlapping languages( if one is contained in another)"
## Description
As a developer,
I need to put a check on overlapping languages, like Java and Javascript

## Mocks
![issue_bug](https://user-images.githubusercontent.com/24635701/43479833-094a6f26-951f-11e8-968c-b55983a69f24.png)

## Acceptance Criteria
### Update [Required]
- [ ] Fix the bug

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estim

[2018-07-31 19:13] ramitsawhney27 commented on #132
@sys-bot approve

[2018-07-31 19:14] #126 closed

[2018-07-31 19:14] ramitsawhney27 commented on #133
@sys-bot approve

[2018-08-01 08:46] GeVic commented on #115
@sys-bot claim

[2018-08-01 17:51] GeVic commented on #127
@sara-02 Although I saw the GSoC label, but still I would ask to work on the same.

[2018-08-01 17:52] GeVic commented on #128
@sys-bot claim

[2018-08-01 18:44] sammy1997 commented on #129
@sys-bot claim

[2018-08-01 18:46] sammy1997 commented on #127
@GeVic It's a part of discussed deliverables for me. I think you will have to look at the non-GSoC issues.

[2018-08-02 14:14] #132 closed

[2018-08-02 18:04] #129 closed

[2018-08-03 05:40] #133 closed

[2018-08-03 07:44] sammy1997 opened #139 "Update documentation with newly added enhancements"
## Description
As a developer,
I need to update the documentation,
so that all the new features are included.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Update documentation with information about new features

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-08-03 08:16] ramitsawhney27 commented on #139
sys-bot approve

[2018-08-03 09:07] ramitsawhney27 commented on #128
@sammy1997 what is the above command in response to?

[2018-08-04 11:52] ramitsawhney27 opened #141 "View issue on Slack"
## Description
As a user
I need to be able to view an issue directly on slack
so that I can handle an issue directly via slack.

## Acceptance Criteria
### Update [Required]
- [ ] Adding a functionality view-issue that directly sends the user the issue (description and update).
### Enhancement to Update [Optional]
- [ ] Parse markdown in the github issue and have some sort of formatting when sent

[2018-08-04 16:40] sara-02 commented on #141
@sys-bot approve

[2018-08-04 20:08] #127 closed

[2018-08-05 09:02] sammy1997 opened #143 "Fix AWS auto-deployment"
## Description
As a developer,
I need to add doc string test command and fix AWS auto-deployment.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Fix AWS auto-deployment.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hour

[2018-08-05 09:03] sammy1997 commented on #143
@sara-02 @ramitsawhney27 I please approve this issue!

[2018-08-05 09:04] sammy1997 commented on #128
The above command is in response to the /sysbot_help Slack command.

[2018-08-05 11:14] sara-02 commented on #143
@sysbot approve

[2018-08-05 11:16] sara-02 commented on #128
@sammy1997 maybe add that command under the update tag.

[2018-08-05 16:58] sammy1997 commented on #128
@sara-02 I didn't understand what you meant :/ . Update tag?

[2018-08-06 05:58] #141 closed

[2018-08-06 06:25] sara-02 commented on #139
@sys-bot approve

[2018-08-06 06:26] sara-02 commented on #143
@sys-bot approve

[2018-08-06 06:27] sara-02 commented on #143
@sammy1997, @GeVic is working on adding doc-strings, maybe you can coordinate with him

[2018-08-07 09:45] sammy1997 opened #145 "Encrypt tokens/keys and post the encrypted keys to prevent disabling of tokens by Slack"
## Description
As a developer,
I need to encrypt the test tokens,
so that it can be shared on GitHub without them getting revoked.

## Mocks
![slack_info](https://user-images.githubusercontent.com/24635701/43768240-87cf5f7a-9a54-11e8-823a-ee4febcad64f.png)

## Acceptance Criteria
### Update [Required]
- [ ] Provide a file and update documentation with encrypted keys

## Definition of Done
- [ ] Al

[2018-08-07 09:45] sammy1997 commented on #145
@sara-02 @ramitsawhney27 Please review this

[2018-08-07 10:48] sara-02 commented on #145
@sys-bot approve

[2018-08-07 10:48] sara-02 commented on #145
@sammy1997 Can you give an overview of your solution here, before sending the PR :)

[2018-08-07 10:54] sammy1997 commented on #145
@sara-02 I am using codecs library provided by python to encode the keys. I will pass these keys as parameters to the decoder functions, which will decode it and print it in the terminal when a script is run. That way the tokens won't directly get posted online, and others can get it on their local machines

[2018-08-07 11:17] sammy1997 opened #147 "Create a new test_dictionary set for channel IDs of Sample workspace"
## Description
As a developer,
I need to create another test_dictionary file same as the dictionary,
so that it contains channel IDs of the test workspace/ sample workspace.

## Mocks
-NA.-

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-08-07 13:00] sara-02 commented on #145
@sammy1997 Got it.

[2018-08-07 13:01] sara-02 commented on #147
@sys-bot approve

[2018-08-08 04:12] #145 closed

[2018-08-08 10:19] sammy1997 opened #149 "[Enhancement] Add a Slack command corresponding to issue/PR labelling Github feature"
## Description
As a developer,
I need to add a Slash command on Slack,
so that users can label an issue with multiple labels directly from SLack.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Add a slash command on Slack for labelling issues with multiple labels directly from Slack

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 ment

[2018-08-08 12:59] sara-02 commented on #149
@sys-bot approve

[2018-08-08 18:46] #147 closed

[2018-08-09 10:05] #139 closed

[2018-08-09 17:48] #149 closed

[2018-08-10 08:01] #57 closed

[2018-08-11 06:05] sara-02 opened #153 "Port Code to Python3"
## Description
As a developer,
I need to port the project to Python3,
so as to keep in sync with other Syster's Project and ensure the longevity of the code.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
All the current features(slack and GitHub) work as expected with Python3.

### Update [Required]
- [ ] Update Code Folder
- [ ] Update Test Folder
- [ ] Update if needed in requirem

[2018-08-11 06:05] sara-02 commented on #153
@sys-bot approve

[2018-08-11 06:08] sammy1997 commented on #153
@sara-02 the template check was updated. Apparently the Sysbot repo has an older template. I will update the Sysbot repo's issue template

[2018-08-11 06:13] sara-02 opened #154 "Add checks for number of commits"
## Description
As a developer,
I need assurance that the total number of commits before merging is 1,
so that the PRs are uniform and follow the Systers workflow.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
Sysbot sends a message to the PR for squashing the commits. If possible block merging.

### Update [Required]
- [ ] Github Feature File

### Enhancement to Update [Optional]
-

[2018-08-11 15:17] sammy1997 opened #155 "Fix small errors in PR template and some other errors to pass tests"
## Description
As a developer,
I need to make small ammendments,
like fixing PR template and small changes to pass tests.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Fix PR templates and make other changes( in json, and test data, etc)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-08-11 15:17] sammy1997 commented on #155
@sara-02 @ramitsawhney27 Please review and approve this. I have to make some small fixes!

[2018-08-12 17:07] sammy1997 opened #156 "Feature: Doing Github auth while Slack to Github actions"
## Description
As a developer,
I need to do Github auth,
for all Slack to Github actions.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Do GitHub auth for actions done from Slack to affect Github issues

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours

[2018-08-12 17:38] sammy1997 opened #157 "Github and Slack API mocking"
## Description
As a developer,
I need to make a system,
so that the calls made to Github and Slack can be mocked( the response given by Slack and Github
will be incorporated into this feature).

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Create a Github and Slack API mocking system.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 m

[2018-08-13 06:36] #155 closed

[2018-08-13 10:59] sammy1997 opened #159 "Merge GSoC18 work to master"
## Description
As a GSoC Student,
I need to merge all the work done during GSOC,
from develop to master branch.

## Mocks
-N.A.-

## Acceptance Criteria
### Update [Required]
- [ ] Merge all code and solve any error or conflicts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-08-13 11:37] sara-02 commented on #159
@sys-bot I approving this issue

[2018-08-13 11:38] sara-02 commented on #159
@sys-bot  assign @sammy1997

[2018-08-13 11:39] sara-02 commented on #159
@sys-bot  help

[2018-08-13 13:45] #143 closed

[2018-08-14 08:14] sara-02 commented on #159
Fixed in #163 and #164

[2018-08-14 08:14] #159 closed

[2018-08-14 17:27] sammy1997 commented on #116
Yes @aastha980 ! And the AWS URL is http://sysbot-dev.5uhcagxzd9.eu-central-1.elasticbeanstalk.com/ .
You can put both, but the second one has a bit of an issue

[2018-08-14 17:27] sammy1997 commented on #116
Yes @aastha980 ! And the AWS URL is http://sysbot-dev.5uhcagxzd9.eu-central-1.elasticbeanstalk.com/ .
You can put both, but the second one has a bit of an issue

[2018-08-15 12:35] ramitsawhney27 opened #165 "Auto approve issue on assignment"
## Description
As a mentor
I need Sysbot to auto approve an issue if it's assigned
so that I can make the workflow easier and more streamlined.

## Acceptance Criteria
### Update [Required]
- [ ] If an issue is assigned to a user by a mentor/maintainer/admin, mark it as approved automatically.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Est

[2018-08-15 12:36] ramitsawhney27 commented on #154
@sys-bot approve

[2018-08-15 12:38] ramitsawhney27 commented on #153
@sys-bot approve

[2018-08-17 14:31] manmeet0307 commented on #153
@sara-02 @ramitsawhney27 @sys-bot  I would like to work on this issue. I am new to open source and need to setup environment as well. I think I cannot complete this within 48 hours. Is it mandatory to complete it in 48 hours?

[2018-08-17 14:42] sara-02 commented on #153
@manmeet0307 The time is just an estimation, there are not hard bound, especially when we are not running them under any program like Gsoc. You can take your time to set up and test. And start working on the issue once your initial setup is done.

[2018-08-17 14:43] sara-02 commented on #153
Even after that if it takes you more than 2 days to fix it, it will be fine, you just need to keep us updated whether you are working on it or not so that it can be reassigned.

[2018-08-17 20:17] isabelcosta opened #166 "Include repositories names in PR reviews status message on Slack"
## Description
As a member of Systers Open Source Slack,
I need to get proper Sysbot messages regarding the PR reviews left to be reviewed,
so that I can understand to what repository the message is referring to.

**What happened:** Sysbot sent 2 messages to the #mentorship-system channel on Systers Open Source Slack, regarding the state of PR reviews. These two messages were the same which seemed

[2018-08-18 04:54] aayushinigam opened #167 "Update Readme"
## Description
As a contributor,
I need to know that I should first export all the environment variables  before running `main_server.py` ,
so that I don't get errors.

## Mocks
## Acceptance Criteria
### Update [Required]
- [ ] Update Readme to direct the contributor to visit https://github.com/systers/sysbot/blob/develop/docs/exporting_keys.md
before running `main_server.py`
- [ ] Create an `env

[2018-08-18 16:45] anshulahuja98 commented on #167
can i work on this?

[2018-08-18 16:47] anshulahuja98 commented on #153
can i work on this?

[2018-08-18 17:14] anshulahuja98 commented on #166
can i work on this, although i might end up taking a bit longer because setting up the project seems like a long task

[2018-08-18 17:15] anshulahuja98 commented on #165
can i work on this, although i might end up taking a bit longer because setting up the project seems like a long task

[2018-08-18 17:15] anshulahuja98 commented on #154
can i work on this, although i might end up taking a bit longer because setting up the project seems like a long task

[2018-08-18 19:49] manmeet0307 commented on #153
@sara-02 thanks for confirming.

[2018-08-19 11:10] sara-02 commented on #166
@anshulahuja98 Since you have asked to work on multiple issues, I would say pick one, and once you are decided let me know, I will assign you that issue.

[2018-08-19 11:13] sara-02 commented on #167
@aayushinigam It will not a good idea to mention all the `env variables` in the readme, but we can have an env.template and link that in the readme instead. What do you think will be easier for newcomers?

[2018-08-19 12:50] aayushinigam commented on #167
Oh yes that's a better idea. It will be easier.

[2018-08-19 13:49] sara-02 commented on #167
Can you update the issue, and then I can approve it :)

[2018-08-19 14:52] sammy1997 commented on #166
@anshulahuja98 You should work on one issue ideally! As you have commented on many issues, do decide which one you want to work on and then you can work on that!

[2018-08-19 15:58] aayushinigam commented on #167
Also, there are various branches. Can we also include a point in Readme where we could ask the contributor to fetch the latest code from `develop` ?

[2018-08-19 16:04] isabelcosta commented on #167
I like that idea as well I will suggest this for Mentorship System

[2018-08-19 16:51] anshulahuja98 commented on #166
@sara-02 @sammy1997  thanks for the reply, i am sorry if it seemed inappropriate to comment on multiple issues, I am new to contributing to open projects. I thought that I might not get response on my comments, hence I commented on multiple issues that interested me.

I'm setting up the project, I will let you know the issue I would be working on.

[2018-08-19 16:54] isabelcosta commented on #166
@anshulahuja98 are you a part of Systers Open Source slack community? You can get a lot of your doubts about open source with this community there :)

[2018-08-19 16:55] anshulahuja98 commented on #166
@isabelcosta no, i was not able to find a working link to join slack. There was some page to get an invite, but it didn't work

[2018-08-19 16:59] isabelcosta commented on #166
@anshulahuja98 Oh I get that, I checked the link and is not working, I will report that and get back to you

[2018-08-19 17:09] isabelcosta commented on #166
@anshulahuja98 here's the link you can use https://slack-systers-opensource.herokuapp.com/ soon it will be linked to the systers.io website

[2018-08-19 18:29] anshulahuja98 commented on #166
i registered using this, didn't receive an invite

[2018-08-19 18:45] isabelcosta commented on #166
@anshulahuja98 for your GitHub primary email? That must be the email. Have you registered before?

[2018-08-19 18:49] anshulahuja98 commented on #166
I used the correct email ID, I'm sure of that, it also showed the success page to check email. I haven't registered before, but I obviously have a slack account associated with my email

[2018-08-19 19:35] isabelcosta commented on #166
@anshulahuja98 I have no idea of what might be happening :O

[2018-08-21 18:07] aayushinigam commented on #167
@sara-02 Please approve.

[2018-08-21 18:08] aayushinigam commented on #167
Ah this is a bug!

[2018-08-21 18:10] sara-02 commented on #167
@aayushinigam No, it is deliberately added so that the author of the issue cannot approve it, because once an issue is approved it can be claimed an assigned.

[2018-08-21 18:11] sara-02 commented on #167
@sys-bot approve

[2018-08-21 18:11] sara-02 commented on #167
@aayushinigam do you want this to be assigned to you?

[2018-08-21 19:57] aayushinigam commented on #167
@sara-02 No I'm not talking about that. I wasn't approving it myself. I asked you to approve it, so technically sysbot shouldn't comment.
And yes please assign it to me.

[2018-08-21 20:00] sammy1997 commented on #167
@anshulahuja98 I think @aayushinigam has asked to work on this before, so if she wants she should get this.

[2018-08-21 20:02] sammy1997 commented on #167
@aayushinigam Try to claim it....I guess you should be able to claim

[2018-08-21 20:02] aayushinigam commented on #167
@sys-bot claim

[2018-08-21 20:03] sammy1997 commented on #167
@sara-02 I think the versatile issue approval should be removed unless an ML alternative is found....It's giving the bug

[2018-08-21 20:04] sammy1997 commented on #167
See this above one for instance

[2018-08-21 20:15] sammy1997 commented on #167
@aayushinigam Did you put any extra spaces or something in between? I used the API to test your assignment, and it worked

[2018-08-21 20:28] sammy1997 commented on #167
Can you try claiming again @aayushinigam ?

[2018-08-22 04:25] aayushinigam commented on #167
@sys-bot claim

[2018-08-22 06:03] sara-02 commented on #167
@sammy1997 @aayushinigam I see now, what you guys are talking about. @aayushinigam Please file a bug for this, and yes, let us take the issue versatility part down for the moment and keep the approval in fix format.

[2018-08-22 06:52] sammy1997 commented on #167
@aayushinigam ca include another change into this doc itself? To add the export instructions for BOT_UID.
You can see the Slack discussions. I have provided the UID of the bot in the sample-workspace there.

[2018-08-23 14:02] ramitsawhney27 commented on #165
@anshulahuja98 once you have set the project up and have understood the issue, you can take it up.

[2018-08-24 19:09] #167 closed

[2018-09-06 16:00] anshulahuja98 commented on #166
@sara-02  can you please assign this issue to me?

[2018-09-06 16:57] anshulahuja98 commented on #166
I have made the appropriate code changes, just waiting for you to assign it, so that i can send a PR 👍

[2018-09-06 19:47] anshulahuja98 opened #169 "PEP8 fix in /tests"
## Description
As a member,
I need fix .py files in /tests
so that I can comply with PEP8 standards

## Mocks
tests/test_slack_functions.py:55:42: E225 missing whitespace around operator
tests/test_slack_functions.py:80:48: E225 missing whitespace around operator
tests/test_github_functions.py:2:1: F401 'list_open_prs_from_repo' imported but unused
tests/test_main_server.py:88:50: E225 missing whi

[2018-09-06 19:47] anshulahuja98 commented on #169
can you please approve this and assign it to me?

[2018-09-16 10:15] ramitsawhney27 commented on #169
I don’t see the point in having a separate PR and issue for 5 minor breaches of PEP8. We’ll get that sorted with the next PR that actually fixes a functionality or bug. There’s automatic tools that can fix this too.

[2018-09-16 10:15] #169 closed

[2018-09-16 10:16] #166 closed

[2018-09-29 22:00] #115 closed

[2018-10-03 08:44] bhawesh96 opened #174 "code/dictionaries.py: Triple quoted string literal not closed"
## Description
As a developer,
I need to fix the triple-quoted string literal,
so that I can run `code/dictionaries.py`.

## Error report
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Update `code/dictionaries.py`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.1 hours

[2018-10-03 08:55] bhawesh96 commented on #165
@ramitsawhney27
I have setup the project on my local system. Can I take up this issue?

[2018-10-04 09:57] ramitsawhney27 commented on #165
@bhawesh96 yes, go ahead.

[2018-10-04 18:54] bhawesh96 commented on #165
@ramitsawhney27 I have added the required code. How do I test it out?
Can't run sys-bot on my repo of course

[2018-10-04 19:02] bhawesh96 commented on #165
Also, does a mentor/maintainer/admin assigns issues only via _comments_ or manually (as in attached image) too?
![screenshot from 2018-10-05 00-31-23](https://user-images.githubusercontent.com/17593065/46496637-263b2680-c836-11e8-8279-d99c04ca42b2.png)

[2018-10-05 07:40] sammy1997 commented on #165
@bhawesh96 It can be done both ways, but for getting the issue you need to be a member of the Github organization.

[2018-10-05 08:29] bhawesh96 commented on #165
When an issue is assigned manually, the event is "assigned". I didn't see that handled in the `/web_hook`. It returns 'unknown event'.

[2018-10-17 13:00] ramitsawhney27 commented on #174
@sammy1997 please look into this

[2018-11-08 18:18] isabelcosta opened #176 "Let a maintainer approve the issue created by that maintainer"
## Description
As a maintainer,
I need to be able to approve my own issue or have the issue automatically approved,
so that I can [ACCOMPLISH THAT].

**Example:** I'm one of the maintainers of Mentorship System, and sometimes I create issues to be worked on by other contributors. Other maintainers might be busy to approve my issue. Since Sysbot does not let me approve issues I'm the author of, I h

[2018-12-11 10:23] CleverFool77 opened #177 "Fix Errors encountered while running the bot."
## Description
As a developer,
I need to fix the errors encountered while running the bot
so that I can make changes and work on it .

## Acceptance Criteria
### Update [Required]
- [ ] Comment `"""` wasn't closed in dictionaries.py ,thus it commented whole `dictionaries.py` file.
- [ ] While running project, it gave `encoding error` as the encoding line wasn't being recognised.

## Definition of

[2019-01-01 21:05] sammy1997 commented on #174
@bhawesh96 do you want to work on this?

[2019-01-01 21:10] sammy1997 commented on #176
Hey @isabelcosta . This is a valid issue. The sysbot server is down though. So I am manually updating the label

[2019-01-01 21:11] sammy1997 commented on #177
@CleverFool77 Please be more specific about what the errors are that you are facing?

[2019-01-02 10:50] sammy1997 commented on #177
@CleverFool77 Can you update the issue with these points?

[2019-01-03 06:37] CleverFool77 commented on #177
sure :+1:

[2019-01-03 12:44] sammy1997 commented on #177
@CleverFool77 Do you want to work on this? I will assign this to you in that case.

[2019-01-03 12:45] #174 closed

[2019-01-06 04:56] CleverFool77 commented on #177
Yes I would like to work on this @sammy1997

[2019-01-07 15:19] manaswinidas commented on #156
I'm interested to solve this issue.

[2019-01-08 18:04] sidharthskumar commented on #153
is it still unassigned ? can someone assign this? thanks

[2019-01-08 18:15] sammy1997 commented on #156
Hey @manaswinidas ! You will have to get invited into the org to get assigned issues. You can ask the admins for that. Please join the slack workspace of Systers and ask the admins there!

[2019-01-08 19:21] sara-02 commented on #153
@sidharthskumar Yes, this is still unassigned as per the dashboard.

[2019-01-08 19:23] sidharthskumar commented on #153
may you assign me this issue?

[2019-01-08 20:16] sara-02 commented on #153
@sidharthskumar Let me check with the team once. I have come back after a break, need to check the status of the project first. If we are still active, I will assign you the issue.

[2019-01-08 20:18] sidharthskumar commented on #153
@sara-02 thanks

[2019-01-10 14:43] sidharthskumar commented on #153
any information?

[2019-01-23 22:24] isabelcosta opened #180 "Slack Sysbot is answering with same msg on the intro channel about 4 times"
## Description

As a newcomer,
I need a welcoming message that does not seem spammy,
so that I can avoid spammy notifications from the welcoming thread.

The Sysbot is acting spammy. It is answering 4 times the same message to newcomers on the intro channel.

## Mocks

![image](https://user-images.githubusercontent.com/11148726/51641141-592c3600-1f5d-11e9-818c-9fa1a795c791.png)

## Acceptance Crit

[2019-01-25 07:12] ramitsawhney27 commented on #180
@sysbot-approve

[2019-01-31 11:07] CleverFool77 commented on #180
I would like to work on this issue.

[2019-02-04 20:24] sammy1997 commented on #180
@sysbot approve

[2019-02-04 23:59] ethicalrushi commented on #156
I want to work on this

[2019-02-19 07:11] #177 closed

[2019-02-22 17:14] NidhiKJha opened #181 "Don't close a pull request when it doesn't follow the template."
**Is your feature request related to a problem? Please describe.**
When a pull request is opened with a body that doesn't follow the template, the current behaviour is to close the PR.

**Describe the solution you'd like**
Instead, it should issue a warning and disallow merging until it satisfies required conditions.

**Describe alternatives you've considered**
Can't merge the new changes in it.

[2019-02-22 19:43] LordGameleo opened #182 "Create Feature to re-review the PR or Issue after changes have been made."
**Is your feature request related to a problem? Please describe.**
Sys-Bot doesn't review the Issue or PR after changes have been made to the it. This leads to doing the thing manually by one with required rights.

**Describe the solution you'd like**
I would like to introduce a new feature to already existing bot. It will let us ask sysbot to re-review it after we have made changes required to co

[2019-02-23 13:50] ramitsawhney27 commented on #182
Sure, please take it up.

[2019-02-24 15:22] LordGameleo commented on #182
Thanks @ramitsawhney27  :)

[2019-03-28 09:15] navyasri1 commented on #116
http://sombuddha2016.pythonanywhere.com/ is not working. What is the current link? I want update and raise PR.

[2019-03-31 09:53] anshima1 commented on #111
Hello. I have added 10+ new sentences in the given google document. I hope they are adequate for training the bot. Let me know if there are any corrections.

[2019-10-25 07:11] sara-02 commented on #182
@LordGameleo A simple hack, could be changing the PR labels to get noticed by sysbot. Can you try it for one of your PRs and see if this helps. We can then implement it as functionality.

[2019-10-29 09:32] sara-02 commented on #153
@sidharthskumar sorry for not being able to reply earlier. If you are still open to working on this, I will assign this to you. Since this is a high priority issue to be able to continue improving sysbot.

[2019-10-29 09:37] sara-02 opened #189 "[Minor Fix]Use os.path.join instead"
## Description
As a developer,
I should be able to run the `simulate.py`,
without having to change the fixed path for different operating system.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- lines https://github.com/systers/sysbot/blob/develop/simulate/simulate.py#L14 and https://github.com/systers/sysbot/blob/develop/simulate/simulate.py#L17 should use os.p